@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 650px) {
}

/*----- Nav section ----*/

@media (min-width: 1200px) {
  .navbar .container-fluid .navbar-brand img {
    width: 200px;
  }
}

@media (max-width: 1199px) {
  .navbar .container-fluid .navbar-brand img {
    width: 170px;
  }
}

@media (max-width: 650px) {
  .navbar .container-fluid .navbar-brand img {
    width: 150px;
  }
}

/*----- Header Section -----*/

@media (min-width: 1200px) {
  header .container-fluid .row .header-upper {
    height: 70vh;
    background-image: url("./Image/spacejoy-RqO6kwm4tZY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
  }

  .header-upper .header-upper-title {
    font-size: 5rem;
    color: #f3ac07;
    text-align: center;
    font-weight: 600;
  }

  .header-upper .header-item-title span {
    font-style: italic;
  }
}

@media (max-width: 1199px) {
  header .container-fluid .row .header-upper {
    height: 60vh;
    background-image: url("./Image/spacejoy-RqO6kwm4tZY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
  }

  .header-upper .header-upper-title {
    font-size: 3rem;
    color: #f3ac07;
    text-align: center;
    font-weight: 600;
  }

  .header-upper .header-item-title span {
    font-style: italic;
  }
}

@media (max-width: 650px) {
  header .container-fluid .row .header-upper {
    height: 60vh;
    background-image: url("./Image/spacejoy-RqO6kwm4tZY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
  }

  .header-upper .header-upper-title {
    font-size: 23px;
    color: #f3ac07;
    text-align: center;
    font-weight: 600;
  }

  .header-upper .header-item-title span {
    font-style: italic;
  }
}

/*------- Benifit Section -------*/

@media (max-width: 1199px) {
  #benifit-row {
    padding: 50px;
  }

  .benifit-title {
    font-size: 28px;
    text-align: center;
    color: #03346e;
    font-weight: 400;
  }

  .benifit-title .benifit-span {
    font-weight: 600;
  }

  .benifit-items .benifit-upper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .ri-shield-check-line,
  .ri-home-gear-line,
  .ri-sparkling-line {
    font-size: 3rem;
    color: #009688;
  }

  .benifit-icon-title {
    font-size: 19px;
    color: #03346e;
    text-align: center;
  }

  .benifit-lower-para {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.428);
  }

  .benifit-btn {
    font-size: 13px;
    width: 320px;
    height: 50px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s !important ;
  }

  .benifit-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }
}

@media (max-width: 650px) {
  #benifit-row {
    padding: 20px;
  }

  .benifit-title {
    font-size: 23px;
    text-align: center;
    color: #03346e;
    font-weight: 400;
  }

  .benifit-title .benifit-span {
    font-weight: 600;
  }

  .benifit-items .benifit-upper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .ri-shield-check-line,
  .ri-home-gear-line,
  .ri-sparkling-line {
    font-size: 18px;
    color: #009688;
  }

  .benifit-icon-title {
    font-size: 19px;
    color: #03346e;
    text-align: center;
  }

  .benifit-lower-para {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.428);
  }

  .benifit-btn {
    font-size: 12px;
    width: 270px;
    height: 40px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s !important ;
  }

  .benifit-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }
}

/*------ Choose us Section ------*/

@media (min-width: 1200px) {
  #choose-us-row1 {
    background-color: #009688;
    color: #ffffff;
    padding: 20px 0;
    position: relative;
  }

  #choose-us-row1 h1 {
    font-weight: 200;
    text-align: center;
  }

  #choose-us-row1 h1 span {
    font-weight: 500;
  }

  #choose-us-row1 .cross-mark {
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: -20px;
    left: 50%;
  }

  #choose-us-row1 .cross-mark .fa-solid {
    color: #009688;
    font-size: 25px;
  }

  #choose-us-row2 {
    padding: 50px 100px;
    background-image: url("./Image/dada_design-Ha_S_TX6Vc4-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
  }

  #choose-us-row2::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
  }

  .choose-us-lower-container {
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }

  .choose-us-items {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #009688;
  }

  .choose-us-items .fa-solid {
    color: #ffffff;
    font-size: 50px;
  }

  .choose-us-items .choose-us-text .choose-us-title {
    color: #ffffff;
    font-family: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .choose-us-items .choose-us-text .choose-us-para {
    color: #ffffffae;
    font-family: 300;
    font-size: 13px;
  }
}

@media (max-width: 1199px) {
  #choose-us-row1 {
    background-color: #009688;
    color: #ffffff;
    padding: 20px 0;
    position: relative;
  }

  #choose-us-row1 h1 {
    font-weight: 200;
    text-align: center;
    font-size: 28px;
  }

  #choose-us-row1 h1 span {
    font-weight: 500;
  }

  #choose-us-row1 .cross-mark {
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: -20px;
    left: 50%;
  }

  #choose-us-row1 .cross-mark .fa-solid {
    color: #009688;
    font-size: 25px;
  }

  #choose-us-row2 {
    padding: 50px 70px;
    background-image: url("./Image/dada_design-Ha_S_TX6Vc4-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
  }

  #choose-us-row2::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
  }

  .choose-us-lower-container {
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }

  .choose-us-items {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #009688;
  }

  .choose-us-items .fa-solid {
    color: #ffffff;
    font-size: 50px;
  }

  .choose-us-items .choose-us-text .choose-us-title {
    color: #ffffff;
    font-family: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .choose-us-items .choose-us-text .choose-us-para {
    color: #ffffffae;
    font-family: 300;
    font-size: 13px;
  }
}

@media (max-width: 650px) {
  #choose-us-row1 {
    background-color: #009688;
    color: #ffffff;
    padding: 20px 0;
    position: relative;
  }

  #choose-us-row1 h1 {
    font-weight: 200;
    text-align: center;
    font-size: 22px;
  }

  #choose-us-row1 h1 span {
    font-weight: 500;
  }

  #choose-us-row1 .cross-mark {
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: -20px;
    left: 50%;
  }

  #choose-us-row1 .cross-mark .fa-solid {
    color: #009688;
    font-size: 25px;
  }

  #choose-us-row2 {
    padding: 30px 20px;
    background-image: url("./Image/dada_design-Ha_S_TX6Vc4-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
  }

  #choose-us-row2::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
  }

  .choose-us-lower-container {
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }

  .choose-us-items {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #009688;
  }

  .choose-us-items .fa-solid {
    color: #ffffff;
    font-size: 30px;
  }

  .choose-us-items .choose-us-text .choose-us-title {
    color: #ffffff;
    font-family: 500;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .choose-us-items .choose-us-text .choose-us-para {
    color: #ffffffae;
    font-family: 300;
    font-size: 12px;
  }
}

/*---- Photo gallery section -----*/

@media (min-width: 1200px) {
  .photo-gallery .container-fluid .row {
    min-height: 60vh;
    padding: 50px 100px;
  }

  .gallery-logo {
    font-size: 18px;
    color: #009688;
  }

  .gallery-title1 {
    font-size: 25px;
    color: #03346e;
  }

  .gallery-title2 {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.576);
  }

  .gallery-para {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.571);
  }

  .gallery-btn {
    font-size: 14px;
    color: #ffffff;
    background-color: #009688;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s !important ;
  }

  .gallery-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }
}

@media (max-width: 1199px) {
  .photo-gallery .container-fluid .row {
    min-height: 60vh;
    padding: 50px 50px;
  }

  .gallery-logo {
    font-size: 16px;
    color: #009688;
  }

  .gallery-title1 {
    font-size: 24px;
    color: #03346e;
  }

  .gallery-title2 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.576);
  }

  .gallery-para {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.571);
  }

  .gallery-btn {
    font-size: 13px;
    color: #ffffff;
    background-color: #009688;
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s !important ;
  }

  .gallery-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }
}

@media (max-width: 650px) {
  .photo-gallery .container-fluid .row {
    min-height: 60vh;
    padding: 30px;
  }

  .gallery-logo {
    font-size: 16px;
    color: #009688;
  }

  .gallery-title1 {
    font-size: 22px;
    color: #03346e;
  }

  .gallery-title2 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.576);
  }

  .gallery-para {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.571);
  }

  .gallery-btn {
    font-size: 13px;
    color: #ffffff;
    background-color: #009688;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s !important ;
  }

  .gallery-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }
}

/*------ Schedule Section --------*/

@media (max-width: 1199px) {
  .schedule .container-fluid .row {
    min-height: 100vh;
    padding: 50px;
    background-image: url("./Image/Windows2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #schedule-text {
    padding: 30px;
    max-height: 40vh;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .schedule-text .schedule-left .schedule-title {
    font-size: 28px;
  }

  .schedule-text .schedule-left .schedule-para {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.552);
  }

  .schedule-btn {
    font-size: 13px;
    color: #ffffff;
    background-color: #009688;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s !important ;
  }

  .schedule-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }
}

@media (max-width: 650px) {
  .schedule .container-fluid .row {
    min-height: 100vh;
    padding: 20px;
    background-image: url("./Image/Windows2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #schedule-text {
    padding: 20px;
    max-height: 40vh;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .schedule-text .schedule-left .schedule-title {
    font-size: 22px;
  }

  .schedule-text .schedule-left .schedule-para {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.552);
  }

  .schedule-btn {
    font-size: 13px;
    color: #ffffff;
    background-color: #009688;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s !important ;
  }

  .schedule-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }
}

/*------- Footer Section -------*/
@media (min-width: 1200px) {
  /*------- Footer section -----*/
  #footer-upper {
    padding: 50px 100px;
  }

  /* .footer-upper-items{
  padding:10px;
} */

  #footer-upper-item1 p {
    font-size: 12px;
    color: black;
    font-weight: 600;
    margin-bottom: 5px !important;
  }

  .footer-btn {
    height: 40px;
    width: 180px;
    font-size: 12px;
    color: #ffffff;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s !important ;
  }

  #number {
    font-size: 22px !important;
    color: #009688 !important;
  }

  .footer-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }

  .footer-header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.636);
  }

  .footer-para {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.639);
    margin-bottom: 5px;
    transition: all 0.3s !important;
    cursor: pointer;
  }

  .footer-para:hover {
    font-weight: 500;
    color: #009688;
  }

  /* #footer-upper-item2 , #footer-upper-item3 ,#footer-upper-item4{
  border-left:1px solid rgba(0, 0, 0, 0.326) ;
}  */

  #footer-lower {
    background-color: #009688;
    padding: 20px 0;
  }

  #footer-lower .footer-lower-para {
    color: #ffffff;
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 1199px) {
  /*------- Footer section -----*/
  #footer-upper {
    padding: 50px 70px;
  }

  /* .footer-upper-items{
  padding:10px;
} */

  #footer-upper-item1 p {
    font-size: 12px;
    color: black;
    font-weight: 600;
    margin-bottom: 5px !important;
  }

  .footer-btn {
    height: 40px;
    width: 180px;
    font-size: 12px;
    color: #ffffff;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s !important ;
  }

  #number {
    font-size: 22px !important;
    color: #009688 !important;
  }

  .footer-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }

  .footer-header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.636);
  }

  .footer-para {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.639);
    margin-bottom: 5px;
    transition: all 0.3s !important;
    cursor: pointer;
  }

  .footer-para:hover {
    font-weight: 500;
    color: #009688;
  }

  /* #footer-upper-item2 , #footer-upper-item3 ,#footer-upper-item4{
  border-left:1px solid rgba(0, 0, 0, 0.326) ;
}  */

  #footer-lower {
    background-color: #009688;
    padding: 20px 0;
  }

  #footer-lower .footer-lower-para {
    color: #ffffff;
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 650px) {
  /*------- Footer section -----*/
  #footer-upper {
    padding: 30px 20px;
  }

  .footer-upper-items {
    margin:10px ;
  }

  #footer-upper-item1 p {
    font-size: 12px;
    color: black;
    font-weight: 600;
    margin-bottom: 5px !important;
  }

  .footer-btn {
    height: 40px;
    width: 180px;
    font-size: 12px;
    color: #ffffff;
    background-color: #009688;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s !important ;
  }

  #number {
    font-size: 22px !important;
    color: #009688 !important;
  }

  .footer-btn:hover {
    background-color: transparent;
    color: #009688;
    border: 1px solid #009688;
  }

  .footer-header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.636);
  }

  .footer-para {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.639);
    margin-bottom: 5px;
    transition: all 0.3s !important;
    cursor: pointer;
  }

  .footer-para:hover {
    font-weight: 500;
    color: #009688;
  }

  /* #footer-upper-item2 , #footer-upper-item3 ,#footer-upper-item4{
  border-left:1px solid rgba(0, 0, 0, 0.326) ;
}  */

  #footer-lower {
    background-color: #009688;
    padding: 20px 0;
  }

  #footer-lower .footer-lower-para {
    color: #ffffff;
    font-size: 13px;
    text-align: center;
  }
}
