body {
  font-family: "Poppins", sans-serif;
}

/*-------- Navbar Section -------*/

.navbar .container-fluid {
  /* padding:0 100px ; */
}

.navbar .container-fluid .navbar-brand img {
  width: 200px;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  font-weight: 400;
  color: black;
}

#free-estimate {
  color: #009688 !important; /* Teal shade */
  font-weight: 600;
}

/* .dropdown-menu{
    border:none;
} */

.dropdown-item {
  font-size: 13px;
}

.ri-arrow-down-s-line {
  color: #009688;
  font-weight: 600;
  font-size: 14px;
}

/*------- header Section -------*/

header .container-fluid .row .header-upper{
  height:70vh;
  background-image: url("./Image/spacejoy-RqO6kwm4tZY-unsplash.jpg");
  background-size:cover;
  background-position:center;
  padding:100px;
}

.header-upper .header-upper-title {
  font-size: 5rem;
  color: #f3ac07;
  text-align: center;
  font-weight: 600;
}

.header-upper .header-item-title span {
  font-style: italic;
}


.header-lower{
  width:100%;
}

.header-lower .header-lower-items {
  height:25vh;
}

.header-lower #header-item1 {
  background-image: url("./Image/Floor1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.header-lower #header-item2 {
  background-image: url("./Image/Walls.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-lower #header-item3 {
  background-image: url("./Image/Celling1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-lower #header-item4 {
  background-image: url("./Image/Windows2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-item-title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.header-item-para {
  font-size: 0.9rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.header-lower .header-lower-items .hidden {
  padding: 20px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.339);
  display: none;
  cursor: pointer;
}

.header-lower-items:hover .hidden {
  display: block;
  padding: 20px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.339);
}

/*======== main section =======*/

/*------ Benifit section ------*/

#benifit-row{
  padding:100px;
}

.benifit-title {
  font-size: 3rem;
  text-align: center;
  color: #03346e;
  font-weight: 400;
}

.benifit-title .benifit-span {
  font-weight: 600;
}

.benifit-items {
  padding:20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
}

.benifit-items .benifit-upper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ri-shield-check-line,
.ri-home-gear-line,
.ri-sparkling-line {
  font-size: 4rem;
  color: #009688;
}

.benifit-icon-title {
  font-size: 21px;
  color: #03346e;
  text-align: center;
}

.benifit-lower-para {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.428);
}

.benifit-btn {
  font-size: 14px;
  width: 350px;
  height: 50px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #009688;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s !important ;
}

.benifit-btn:hover {
  background-color: transparent;
  color: #009688;
  border: 1px solid #009688;
}

/*-------- Choose us section -------*/
#choose-us-row1{
  background-color: #009688;
  color: #ffffff;
  padding:20px 0;
  position: relative;
}

#choose-us-row1 h1{
  font-weight:200 ;
  text-align: center;
}

#choose-us-row1 h1 span{
  font-weight:500 ;
}

#choose-us-row1 .cross-mark{
  margin:auto;
  text-align: center;
  background-color:#ffffff ;
  height:35px ;
  width:35px ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50% ;
  position:absolute;
  z-index:5;
  bottom:-20px;
  left:50% ;
}

#choose-us-row1 .cross-mark .fa-solid{
  color: #009688;
  font-size:25px ;
}

#choose-us-row2{
  padding:50px 100px;
  background-image:url('./Image/dada_design-Ha_S_TX6Vc4-unsplash.jpg') ;
  background-size:cover;
  background-position:bottom ;
  position:relative;
}

#choose-us-row2::before{
  content:"";
  position:absolute;
  z-index:2;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:black;
  opacity:0.5;
}

.choose-us-lower-container{
  margin:0 auto;
  position: relative;
  z-index:3;
}

.choose-us-items{
  padding:30px ;
  display: flex;
  align-items: center;
  gap:20px ;
  background-color: #009688;
}

.choose-us-items .fa-solid{
  color:#ffffff ;
  font-size:50px ;
}

.choose-us-items .choose-us-text .choose-us-title{
    color: #ffffff;
    font-family:500;
    font-size:18px;
    margin-bottom:20px ;
}

.choose-us-items .choose-us-text .choose-us-para{
    color: #ffffffae;
    font-family:300;
    font-size:13px;
}




/*------ Photo gallery ------*/

.photo-gallery .container-fluid .row {
  min-height: 60vh;
  padding:100px 100px;
}

.gallery-logo {
  font-size: 18px;
  color: #009688;
}

.gallery-title1 {
  font-size: 25px;
  color: #03346e;
}

.gallery-title2 {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.576);
}

.gallery-para {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.571);
}

.gallery-btn {
  font-size: 14px;
  color: #ffffff;
  background-color: #009688;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s !important ;
}

.gallery-btn:hover {
  background-color: transparent;
  color: #009688;
  border: 1px solid #009688;
}

/*------- Schedule section -------*/

.schedule .container-fluid .row {
  min-height: 100vh;
  padding: 50px;
  background-image: url("./Image/Windows2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#schedule-text {
  padding:20px 50px;
  max-height:40vh;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.schedule-text .schedule-left .schedule-title {
  font-size: 2rem;
  color: #03346e;
  font-weight:200;
}

.schedule-text .schedule-left .schedule-title span{
  font-weight:500;
}

.schedule-text .schedule-left .schedule-para {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.552);
}

.schedule-btn {
  font-size: 14px;
  color: #ffffff;
  background-color: #009688;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s !important ;
}

.schedule-btn:hover {
  background-color: transparent;
  color: #009688;
  border: 1px solid #009688;
}

/*------- Footer section -----*/
#footer-upper{
  padding:50px 100px;
}

/* .footer-upper-items{
  padding:10px;
} */

#footer-upper-item1 p{
  font-size:12px;
  color:black;
  font-weight:600;
  margin-bottom:5px !important;
}

.footer-btn{
  height:40px ;
  width:180px ;
  font-size:12px;
  color: #ffffff;
  background-color: #009688;
  border: none;
  border-radius:5px ;
  cursor: pointer;
  margin-bottom:20px;
  transition:all 0.3s !important ;
}

#number{
  font-size:22px !important;
  color:#009688 !important;
}

.footer-btn:hover{
  background-color: transparent;
  color: #009688;
  border:1px solid #009688 ;
}

.footer-header{
  font-size:14px;
  font-weight:600;
  margin-bottom:10px;
  color:rgba(0, 0, 0, 0.636) ;
}

.footer-para{
  font-size: 11px;
  color:rgba(0, 0, 0, 0.639);
  margin-bottom:5px;
  transition:all 0.3s !important;
  cursor: pointer;
}

.footer-para:hover{
  font-weight:500;
  color:#009688;
}

/* #footer-upper-item2 , #footer-upper-item3 ,#footer-upper-item4{
  border-left:1px solid rgba(0, 0, 0, 0.326) ;
}  */

#footer-lower{
  background-color:#009688;
  padding:20px 0;
}

#footer-lower .footer-lower-para{
  color:#ffffff;
  font-size:13px;
  text-align:center;
}